*{
    margin: 0;
    padding: 0;
}

#navbar.navbar-light.bg-dark {
    background-color: #000 !important;
}

#navbar.navbar-light .navbar-nav .nav-link.text-white {
    color: #fff !important;
}

.navbar-brand h2{
  letter-spacing: 3px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .navbar-brand h2{
        font-size: 1.5rem;
    }
}